@model ProductDetailsModel
@using Nop.Core.Domain.Media
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    int productPerRow = EngineContext.Current.Resolve<MediaSettings>().ProductThumbPerRowOnProductDetailsPage;
}
<div class="gallery js-gallery">
    <div class="picture">
        
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.Name" id="main-product-img-lightbox-anchor-@Model.Id" class="main-slider-img-link">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" class="main-slider-img" id="main-product-img-@Model.Id" />
            </a>

            <div id="viewer" class="viewer"></div>

           <span class="viewer-controls">
                <span id="in">+</span>
                <span id="out">-</span>
                <span id="fit">fit</span>
                <span id="orig">orig</span>
            </span>

            <script type="text/javascript">
                if($(window).width() > 768) {
                    var _image_zoomer;
                    function _zoom_main_image() {

                        _image_zoomer = $("#viewer").iviewer({
                           src: $('.main-slider-img-link').attr('href'), 
                           update_on_resize: false,
                           //zoom_animation: true,
                           ui_disabled: true,
                           zoom_min: 50,
                           mousewheel: true
                      });

                       $("#in").click(function(){ _image_zoomer.iviewer('zoom_by', 1); }); 
                       $("#out").click(function(){ _image_zoomer.iviewer('zoom_by', -1); }); 
                       $("#fit").click(function(){ _image_zoomer.iviewer('set_zoom', 150); }); 
                       $("#orig").click(function(){ _image_zoomer.iviewer('set_zoom', 100); }); 
                    }

                    $(document).ready(function () {
                        _zoom_main_image();
                    });
                }
            </script>
        
    </div>
    @if (Model.PictureModels.Count > 1)
    {
        <div class="picture-thumbs slider">
            <a class="buttons prev" href="#">&#60;</a>
                <div class="viewport">
                    <ul class="overview">
                        @for (int i = 0; i < Model.PictureModels.Count; i++)
                        {
                            var picture = Model.PictureModels[i];
                            <li>
                                <a class="thumb-popup-link" href="@picture.FullSizeImageUrl" title="@Model.Name">
                                    <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            <a class="buttons next" href="#">&#62;</a>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                //$('.thumb-popup-link').magnificPopup({ type: 'image', removalDelay: 300, gallery: { enabled: true } });
                var $main = $('.main-slider-img');
                var $main_link = $('.main-slider-img-link');
                $('.slider')
                    .tinycarousel({infinite: false})
                    .find('a.thumb-popup-link')
                        .click(function(e) {
                            var that = this;
                            e.preventDefault();
                            $main.stop(true).fadeOut('normal', function() {
                                $main.attr('src', that.href ).fadeIn('normal');
                                $main_link.attr('href', that.href );
                                if(_image_zoomer) {
                                    _image_zoomer.iviewer('destroy');
                                    _zoom_main_image();
                                }
                            })
                        })
            });
        </script>
    }
</div>