@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.jpg";
    var menuPath = "~/Themes/" + currentThemeName + "/Content/images/menu.jpg";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

<div class="header">
    @Html.Widget("header")
    <div class="header-links-wrapper">
        <div class="wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="full-width-menu-bg"></div>
    <div class="header-logo wrapper">

        <a href="#" class="burger-menu">
            <img title="" alt="@storeName" src="@Url.Content(menuPath)">
        </a>

        <a href="@Url.RouteUrl("HomePage")" title="@storeName - Home page" class="logo-site">
            <img title="" alt="@storeName" src="@Url.Content(logoPath)">
        </a>

        <ul class="main-menu">
            <li>
                <a href="#" class="menu-active">Shop <span class="menu-arrow"></span></a>
                @Html.Action("HeaderCategory", "Catalog")
            </li>

            <li>
                <a href="#">Our World <span class="menu-arrow"></span></a>
                <div class="sub-menu">
                    <ul>
                        <li><span class="menu-heading menu-heading-2"></span></li>
                        <li><a href="#">Coming soon</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#">Nature lab <span class="menu-arrow"></span></a>
                <div class="sub-menu">
                    <ul>
                        <li><span class="menu-heading menu-heading-3"></span></li>
                        <li><a href="#">Coming soon</a></li>
                    </ul>
                </div>
            </li>

        </ul>

        <div class="search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>

    </div>
</div>

@Html.Widget("message_freedelivery")
@Html.Widget("recommended_for_you")

<script type="text/javascript">
    //sub menu bg
    var $_full_width_menu_bg = $('.full-width-menu-bg');
    $('.main-menu > li').hover(
        function(){
            var $this = $(this);
            $_full_width_menu_bg.height( $this.find('.sub-menu').height() ).show();
            if( $this.index( $('.main-menu > li') ) != 0  ) {
                $('.main-menu > li').first().find('>a').removeClass('menu-active');
            }
        },
        function(){
            $_full_width_menu_bg.height(0).hide();
            $('.main-menu > li:first-child').find('>a').addClass('menu-active');
        }
    );

    //create cookie so this message should not appear again for a month
    if(!$.cookie('topmessage')) {
        $('.top-message-special').removeClass('cookieHideMessage').find('.btn-close').click(function(){
            $(this).add('.top-message-special').slideUp('fast');
            $.cookie('topmessage', 'hidden', { expires: 30 });
        });
    }
</script>
