@{
	Layout = "~/Views/Shared/_Blank.cshtml";
	Html.AppendCssFileParts("~/Themes/DefaultClean/Content/theater.css");
	Html.AppendCssFileParts("~/Themes/DefaultClean/Content/owl.css");
	Html.AppendCssFileParts("~/Themes/DefaultClean/Content/popup.css");

	Html.AppendScriptParts("~/Themes/DefaultClean/Content/js/owl.js");
	Html.AppendScriptParts("~/Themes/DefaultClean/Content/js/jquery.popup.js");


	var product = "~/Themes/DefaultClean/Content/images/t-product.png";
	var block2 = "~/Themes/DefaultClean/Content/images/t-block2.png";

	var video1 = "~/Themes/DefaultClean/Content/images/vid1.jpg";
	var video2 = "~/Themes/DefaultClean/Content/images/vid2.jpg";
	var video3 = "~/Themes/DefaultClean/Content/images/vid3.jpg";

	var waleed = "~/Themes/DefaultClean/Content/images/waleed.jpg";
	var umar = "~/Themes/DefaultClean/Content/images/umar.jpg";
	var soulayman = "~/Themes/DefaultClean/Content/images/soulayman.jpg";
	var imran = "~/Themes/DefaultClean/Content/images/imran.jpg";
	var killian = "~/Themes/DefaultClean/Content/images/killian.jpg";
	var murat = "~/Themes/DefaultClean/Content/images/murat.jpg";
}

<script src="//use.typekit.net/ren7giz.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<div class="page theater-page">
  	<div class="wrapper">
		<a
			class="js-buy-now button-1 header-buy-now-btn add-to-cart-button"
			href="#"
			data-productid="88"
			onclick="AjaxCart.addproducttocart_details('/addproducttocart/details/13/1', '#theater-page');return false;">
			BUY NOW
		</a>
	</div>
	
	<script type="text/javascript">
        $('.theater-page').closest('.wrapper').removeClass('wrapper');
        $('.main-menu').after($('.js-buy-now').show());
        $('.header-buy-now-btn').click(function(){
        	var $notificationBar = $('#bar-notification');
        	var t = setInterval(function(){
        		if($notificationBar.attr('style')) {
        			clearTimeout(t);
        			window.location = "/cart";	
        		}
        	},10);
        });
    </script>
	
	<iframe src="https://player.vimeo.com/video/35396305" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	<div id="block1" class="theater__productblock1 t-block pt-section" data-name="The world’s ONLY game on the Sahaba">
		<div class="wrapper">
			<div class="block__wrapper">
				<h2>The world’s ONLY game on the Sahaba - the greatest generation to ever set foot on earth.</h2>
				<p>Two years in the making, covering over 100 Companions and designed for the whole family, it doesn’t get any better than this when it comes to the Sahaba.</p>
			</div>
			<img src="@Url.Content(product)" width="235px" height="237px"/>
		</div>
	</div>

	<div id="block2" class="theater__productblock2 t-block pt-section">
		<div class="wrapper">
			<div class="block__wrapper">
				<h2>Got what it takes?</h2>
				<a class="video-link" href="https://vimeo.com/35396305">Sample the game now.</a>
			</div>
			<img src="@Url.Content(block2)"/>
		</div>
	</div>

	<div class="theater__productblock3-bg">
		<div class="wrapper">
			<div id="block3" class="theater__productblock3 t-block pt-section">
				<h2>Thrilling fun.<br/>Chilling lessons.</h2>
				<p>Sunday was a recovery day … no workout. My activity consisted of getting settled back in at home and running some errands. When I went out, I was on foot most of the time. I always tell my kids: Less than 10 blocks, and we’re walking! By the time I got back, I had just about closed my Move ring. I’d burned 380 active calories.</p>
			</div>
		</div>
	</div>

	<div id="block4" class="theater_productcarousel t-block pt-section wrapper">
		<h2>So What’s Inside?</h2>
		<ul class="owl-carousel" id="products-carousel">
			<li>
				<img src="http://lorempixel.com/240/280/abstract/1"/>
				<h3>Companion Clues</h3>
				<div>Childnre’s Game</div>
			</li>
			<li>
				<img src="http://lorempixel.com/240/280/abstract/2"/>
				<h3>Product title</h3>
				<div>Product category</div>
			</li>
			<li>
				<img src="http://lorempixel.com/240/280/abstract/3"/>
				<h3>Product title</h3>
				<div>Product category</div>
			</li>
			<li>
				<img src="http://lorempixel.com/240/280/abstract/4"/>
				<h3>Product title</h3>
				<div>Product category</div>
			</li>
			<li>
				<img src="http://lorempixel.com/240/280/abstract/5"/>
				<h3>Product title</h3>
				<div>Product category</div>
			</li>
			<li>
				<img src="http://lorempixel.com/240/280/abstract/6"/>
				<h3>Product title</h3>
				<div>Product category</div>
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		$('#products-carousel').owlCarousel({
			items: 3,
			navigation: true,
			rewindNav: false
		});
	</script>


	<div id="block5" class="theater__share t-block pt-section" data-name="Share">
		
		<ul>
			<li class="facebook">
				<a title="Share this on facebook" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">Facebook</a>
			</li>
			<li class="twitter">
				<a title="Share this on twitter" href="https://twitter.com/home?status=Checkout%20this%20" target="_blank">Twitter</a>
			</li>
			<li title="Share this on gplus" class="gplus">
				<a href="https://plus.google.com/share?url=" target="_blank">gplus</a>
			</li>
		</ul>
		<script type="text/javascript">
			$('.theater__share a').each(function(){
				this.href = this.href + encodeURIComponent(window.location.href);
			});
		</script>
	</div>

	<div id="block6" class="theater__videos t-block pt-section">
		<h2>Here’s what the experts say...</h2>
		<div class="wrapper-bg">
			<div class="wrapper">
				<ul>
					<li>
						<a class="video-link" href="https://vimeo.com/35396305">
							<img src="@Url.Content(video1)"/>
							<span class="icon-play"></span>
							<h3>Name ????</h3>
						</a>
					</li>
					<li>
						<a class="video-link" href="https://vimeo.com/35396305">
							<img src="@Url.Content(video2)"/>
							<span class="icon-play"></span>
							<h3>Ust. Wasim Sherief</h3>
						</a>
					</li>
					<li>
						<a class="video-link" href="https://vimeo.com/35396305">
							<img src="@Url.Content(video3)"/>
							<span class="icon-play"></span>
							<h3>Sh. Omar Suleiman</h3>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="block7" class="theater__fans t-block pt-section">
		<div class="wrapper">
			<h2>Fans the World Over</h2>
			<ul>
				<li>






					<a class="image-link" title="Waleed in Germany" href="@Url.Content(waleed)">
						<h3>
							Waleed
							<span>from Paris</span>
						</h3>
						<img src="@Url.Content(waleed)">
					</a>
				<li>
					<a class="image-link" title="Umar in India" href="@Url.Content(umar)">
						<h3>
							Umar
							<span>from India</span>
						</h3>
						<img src="@Url.Content(umar)">
					</a>
				<li>
					<a class="image-link" title="Soulayman in France" href="@Url.Content(soulayman)">
						<h3>
							Soulayman
							<span>from France</span>
						</h3>
						<img src="@Url.Content(soulayman)">
					</a>
				<li>
					<a class="image-link" title="Imran in Qatar" href="@Url.Content(imran)">
						<h3>
							Imran
							<span>from Qatar</span>
						</h3>
						<img src="@Url.Content(imran)">
					</a>
				<li>
					<a class="image-link" title="Killian in London" href="@Url.Content(killian)">
						<h3>
							Killian
							<span>from London</span>
						</h3>
						<img src="@Url.Content(killian)">
					</a>
				<li>
					<a class="image-link" title="Murat in Turkey" href="@Url.Content(murat)">
						<h3>
							Murat
							<span>from Turkey</span>
						</h3>
						<img src="@Url.Content(murat)">
					</a>
			</ul>
		</div>
	</div>
  	<div class="theater_footer"><span class="lr-logo-small"></span></div>
</div>
<script type="text/javascript">
	$('.video-link').addClass('mfp-iframe').magnificPopup({type:'iframe', mainClass: 'mfp-fade'});
	$('.image-link').magnificPopup({type:'image', titleSrc: 'title', mainClass: 'mfp-fade'});

	(function($) {

    $.fn.progressTracker = function(options) {

        var settings = $.extend({
            //default values
            linking: true,
            tooltip: "constant",
            positiveTolerance: 0,
            negativeTolerance: 0,
            displayWhenActive: true,
            disableBelow: 0,
            tracking: "tracker"
        }, options);

        //Create progress tracker element and list
        $('body').append('<div class="progress-tracker"><ul></ul></div>');

        //Create mark-up based on marked sections
        $('.pt-section').each(function(index) {
            var $this = $(this),
                sectionId = $this.attr('id'),
                sectionName = $this.data('name'),
                itemLink = "",
                itemDescription = "";

            if (settings.linking) {
                itemLink = '<a class="pt-circle" href="#' + sectionId + '"></a>';
            }

            if (settings.tooltip) {
                itemDescription = "<span class='pt-description'><span>" + sectionName + "</span></span>";
            }

            $('.progress-tracker ul').append('<li class="section-' + sectionId + '">' + itemLink + itemDescription + '</li>');

            //Offset top margin against height of tracker now the elements are in there
            $('.progress-tracker').css({
                'margin-top': ('-' + $('.progress-tracker').height() / 2) + 'px'
            });
        });

        //Set up scrollTo linking if linking is true
        if (settings.linking) {
            $('.progress-tracker ul li a.pt-circle').on('click', function(e) {
                e.preventDefault();
                var targetElem = $(this).attr('href');
                $('html, body').animate({
                    //Addition of 1 pixel to offset against Chrome's interpretation of scrollTop
                    scrollTop: $(targetElem).offset().top - $('.header').height()
                }, 1000);
            });
        }

        //Set up hover visibility if tooltips are enabled
        if (settings.tooltip == "hover") {
            $('.progress-tracker ul li').hover(function() {
                $(this).find('.pt-description').show();
            }, function() {
                $(this).find('.pt-description').hide();
            });
        } else if (settings.tooltip == "constant") {
            $('.progress-tracker').addClass('constant');
        }

        function activeSectionCheck() {

            if (settings.tracking == "viewport") {
                var scroll = $(window).scrollTop();
            } else {
                var scroll = $('.progress-tracker').offset().top;
            }

            $('.pt-section').each(function(index) {

                var $this = $(this),
                    sectionTop = $this.offset().top,
                    sectionBottom = sectionTop + $this.outerHeight(),
                    sectionTitle = $this.attr('id');

                //Check if positiveTolerance is an integer and, if so, add to section Top & Bottom
                if ($.isNumeric(settings.positiveTolerance)) {
                    sectionTop += settings.positiveTolerance;
                    sectionBottom += settings.positiveTolerance;
                }

                //Check if negativeTolerance is an integer and, if so, add to section Top & Bottom
                if ($.isNumeric(settings.negativeTolerance)) {
                    sectionTop -= settings.negativeTolerance;
                    sectionBottom -= settings.negativeTolerance;
                }

                if (scroll >= sectionTop && scroll <= sectionBottom) {
                    $('.progress-tracker ul li').removeClass('active');
                    $('.progress-tracker ul li.section-' + sectionTitle).addClass('active');
                }

            });
        }

        function activeTrackerCheck() {
            if (!settings.displayWhenActive) {
                return false;
            }

            var progressTracker = $('.progress-tracker'),
                firstTop = $('.pt-section:first').offset().top,
                lastBottom = $('.pt-section:last').offset().top + ($('.pt-section:last').outerHeight());
            if (progressTracker.offset().top >= firstTop && progressTracker.offset().top <= lastBottom) {
                progressTracker.removeClass('hide');
            } else {
                progressTracker.addClass('hide');
            }
        }

        $(window).scroll(function() {
            activeSectionCheck();
            activeTrackerCheck();
        });

        $(document).ready(function() {
            activeSectionCheck();
            activeTrackerCheck();
        });

        //Hide below a certain width if specified
        if (settings.disableBelow > 0 && $.isNumeric(settings.disableBelow)) {
            var resizeTimer;

            function resizeFunction() {
                if ($(window).width() <= settings.disableBelow) {
                    $('.progress-tracker').hide();
                } else {
                    $('.progress-tracker').show();
                }
            }

            $(window).resize(function() {
                clearTimeout(resizeTimer);
                resizeTimer = setTimeout(resizeFunction, 150);
            });
            resizeFunction();
        }

    };

}(jQuery));

(function() {

	$('.pt-section').each(function(){
		var $this = $(this);
		if(!$this.attr('data-name')) {
			$this.attr('data-name', $this.find('h2').text().replace('.', '. '))
		}
	});

	if($(document).width() > 768) {
		$('body').progressTracker({
	        linking : true,
	        tooltip : "constant",
	        negativeTolerance : 0,
	        positiveTolerance : 0,
	        displayWhenActive : true
	    });
	}
})();

</script>