@model HeaderLinksModel
@using Nop.Web.Models.Common;

<ul class="col profile-links right">
    @if (Model.IsAuthenticated)
    {
        <li><a href="#">My Orders</a></li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@Model.CustomerEmailUsername</a></li>
        <li><a href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a></li>
    }
    else
    {
        <li><a href="@Url.RouteUrl("Login")">@T("Account.Login")</a></li>
        <li><a href="@Url.RouteUrl("Register")">@T("Account.Register")</a></li>
        }
</ul>
