@{
    //image folder path
    var homepageroot = "~/Themes/DefaultClean/Content/images/homepage";
}

<div class="home-discover home-page-block">
	<h3 class="home-block-title">@T("Home.Discover.Banner.Title")</h3>
    <div class="slider">
		<a class="buttons prev" href="#">&lt;</a>
		<div class="viewport">
		    <ul class="overview">
		        <li>
                    <a href="@T("Home.Discover.Block1.Url")">
                        <div class="image-wrapper">
                            <img src="@Url.Content(homepageroot)/quranfun.png" />
                        </div>
                        <h3>@T("Home.Discover.Block1.Title")</h3>
                        <span>@T("Home.Discover.Block1.SubTitle")</span>
                    </a>
		        </li>
		        <li>
                    <a href="@T("Home.Discover.Block2.Url")">
                        <div class="image-wrapper">
                            <img src="@Url.Content(homepageroot)/prayer_dua.png" />
                        </div>
                        <h3>@T("Home.Discover.Block2.Title")</h3>
                        <span>@T("Home.Discover.Block2.SubTitle")</span>
                    </a>
		        </li>
		        <li>
                    <a href="@T("Home.Discover.Block3.Url")">
                        <div class="image-wrapper">
                            <img src="@Url.Content(homepageroot)/stories.png" />
                        </div>
                        <h3>@T("Home.Discover.Block3.Title")</h3>
                        <span>@T("Home.Discover.Block3.SubTitle")</span>
                    </a>
		        </li>
		        <li>
                    <a href="@T("Home.Discover.Block4.Url")">
                        <div class="image-wrapper">
                            <img src="@Url.Content(homepageroot)/games.png" />
                        </div>
                        <h3>@T("Home.Discover.Block4.Title")</h3>
                        <span>@T("Home.Discover.Block4.SubTitle")</span>
                    </a>
		        </li>
		        <li>
                    <a href="@T("Home.Discover.Block5.Url")">
                        <div class="image-wrapper">
                            <img src="@Url.Content(homepageroot)/gifts.png" />
                        </div>
                        <h3>@T("Home.Discover.Block5.Title")</h3>
                        <span>@T("Home.Discover.Block5.SubTitle")</span>
                    </a>
		        </li>
                <li>
                    <a href="@T("Home.Discover.Block6.Url")">
                        <div class="image-wrapper">
                            <img src="@Url.Content(homepageroot)/collections.png" />
                        </div>
                        <h3>@T("Home.Discover.Block6.Title")</h3>
                        <span>@T("Home.Discover.Block6.SubTitle")</span>
                    </a>
                </li>
		    </ul>
		</div>
		<a class="buttons next" href="#">&gt;</a>
	</div>
</div>
<script type="text/javascript">
	if($(window).width() > 1024) {
        $('.slider').tinycarousel({infinite: false})
    }
    else {
        $('.home-discover ul.overview').addClass('owl-carousel').owlCarousel({
            singleItem: false,
            items: 1,
            itemsTablet: [768,3],
            navigation: false,
            rewindNav: true,
            lazyLoad: true
        });
    }
</script>
