@{
	//char images path
	var zayd = "~/Themes/DefaultClean/Content/images/character-1.jpg";
	var bilal = "~/Themes/DefaultClean/Content/images/character-1.jpg";
	var sarah = "~/Themes/DefaultClean/Content/images/character-1.jpg";
	var ayeesha = "~/Themes/DefaultClean/Content/images/character-1.jpg";
	var sufyan = "~/Themes/DefaultClean/Content/images/character-1.jpg";
	var leyla = "~/Themes/DefaultClean/Content/images/character-1.jpg";
}

<div class="home-meet-chars-block all-tabs-outer">

	<div class="tabs-arrows">
		<span class="tab-arrow tab-arrow-left" title="Previous section"></span>
		<span class="tab-arrow tab-arrow-right" title="Next section"></span>
	</div>
	
	<div class="wrapper">
		<div class="meet_chars home-page-characters">
			
			<h3 class="home-block-title">Meet your Learning Roots Friends</h3>

			<div class="homepage-tabs product-page-tabs">
				<a href="#char-zayd"class="active-tab">Zayd</a>
				<a href="#char-bilal">Bilal</a>
				<a href="#char-sarah">Sarah</a>
				<a href="#char-ayeesha">Ayeesha</a>
				<a href="#char-sufyan">Sufyan</a>
				<a href="#char-leyla">Leyla</a>
			</div>

			<div class="all-tabs-wrapper">

				<!-- zayd -->
				<div id="char-zayd" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(zayd)">
						<h3 class="char-name">Zayd</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#" data-youtube-video-id="v4BwafaEBV4">
								<img src="http://i851.photobucket.com/albums/ab75/coolmomtech/MeBooks_zps5b4cca51.jpg"/>
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Zayd</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							</p>
						</div>
						<div class="charater-other">
							<h3>Other section here</h3>
						</div>
					</div>
				</div>

				<!-- Bilal -->
				<div id="char-bilal" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(bilal)">
						<h3 class="char-name">Bilal</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#" data-youtube-video-id="v4BwafaEBV4">
								<img src="http://i851.photobucket.com/albums/ab75/coolmomtech/MeBooks_zps5b4cca51.jpg"/>
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Bilal</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							</p>
						</div>
						<div class="charater-other">
							<h3>Other section here</h3>
						</div>
					</div>
				</div>

				<!-- Sarah -->
				<div id="char-sarah" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(sarah)">
						<h3 class="char-name">Sarah</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#" data-youtube-video-id="v4BwafaEBV4">
								<img src="http://i851.photobucket.com/albums/ab75/coolmomtech/MeBooks_zps5b4cca51.jpg"/>
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Sarah</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							</p>
						</div>
						<div class="charater-other">
							<h3>Other section here</h3>
						</div>
					</div>
				</div>

				<!-- Ayeesha -->
				<div id="char-ayeesha" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(ayeesha)">
						<h3 class="char-name">Ayeesha</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#" data-youtube-video-id="v4BwafaEBV4">
								<img src="http://i851.photobucket.com/albums/ab75/coolmomtech/MeBooks_zps5b4cca51.jpg"/>
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Ayeesha</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							</p>
						</div>
						<div class="charater-other">
							<h3>Other section here</h3>
						</div>
					</div>
				</div>

				<!-- Sufyan -->
				<div id="char-sufyan" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(sufyan)">
						<h3 class="char-name">Sufyan</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#" data-youtube-video-id="v4BwafaEBV4">
								<img src="http://i851.photobucket.com/albums/ab75/coolmomtech/MeBooks_zps5b4cca51.jpg"/>
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Sufyan</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							</p>
						</div>
						<div class="charater-other">
							<h3>Other section here</h3>
						</div>
					</div>
				</div>

				<!-- Leyla -->
				<div id="char-leyla" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(leyla)">
						<h3 class="char-name">Leyla</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#" data-youtube-video-id="v4BwafaEBV4">
								<img src="http://i851.photobucket.com/albums/ab75/coolmomtech/MeBooks_zps5b4cca51.jpg"/>
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Leyla</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							</p>
						</div>
						<div class="charater-other">
							<h3>Other section here</h3>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	//equal height for .charater-other & charater-bio blocks
	$('.character-details').each(function(){
		var $bio = $(this).find('.charater-bio');
		var $other = $(this).find('.charater-other');
		var bio_height = $bio.outerHeight() - 19;
		var other_height = $other.outerHeight() - 19;
		var biggerHeight = 0;

		if(bio_height > other_height) biggerHeight = bio_height;
		else biggerHeight = other_height;

		console.log(bio_height, other_height, biggerHeight, ' = ', $bio.outerHeight(true), $bio.height(), $bio.innerHeight());

		$bio.add($other).height(biggerHeight);
	});

	//video player
	$('.character-video a').click(function(e){
		e.preventDefault();
		$('.mobile-menu-overlay').show();
		var $this = $(this);
		var youtube_v_id = $(this).data('youtube-video-id');
		$('body').append(
			'<div class="char-video-popup">'+
				'<div class="close-popup"><a href="#">Close</a></div>'+
				'<iframe frameborder="0" allowfullscreen width="450" height="350" '+
					'src="http://www.youtube.com/embed/'+youtube_v_id+'"></iframe>'+
			'</div>'
		);
	});
</script>


