@{
	//char images path
		var zayd = "~/Themes/DefaultClean/Content/images/homepage/Zayd.png";
		var zayd_header = "~/Themes/DefaultClean/Content/images/homepage/Zayd_header.png";

		var sarah = "~/Themes/DefaultClean/Content/images/homepage/Sarah.png";
		var sarah_header = "~/Themes/DefaultClean/Content/images/homepage/Sarah_header.png";

		var aisha = "~/Themes/DefaultClean/Content/images/homepage/Aisha.png";
		var aisha_header = "~/Themes/DefaultClean/Content/images/homepage/Aisha_header.png";

		var thabit = "~/Themes/DefaultClean/Content/images/homepage/Thabit.png";
		var thabit_header = "~/Themes/DefaultClean/Content/images/homepage/Thabit_header.png";

		var leyla = "~/Themes/DefaultClean/Content/images/homepage/Leyla.png";
		var leyla_header = "~/Themes/DefaultClean/Content/images/homepage/Leyla_header.png";

		var qays = "~/Themes/DefaultClean/Content/images/homepage/Qays.png";
		var qays_header = "~/Themes/DefaultClean/Content/images/homepage/Qays_header.png";
}

<div class="home-meet-chars-block all-tabs-outer">

	<div class="tabs-arrows">
		<span class="tab-arrow tab-arrow-left" title="Previous section"></span>
		<span class="tab-arrow tab-arrow-right" title="Next section"></span>
	</div>
	
	<div class="wrapper">
		<div class="meet_chars home-page-characters">
			
			<h3 class="home-block-title">Meet your Learning Roots Friends</h3>

			<div class="homepage-tabs product-page-tabs">
				<a href="#char-sarah" class="active-tab">Sarah</a>
				<a href="#char-zayd">Zayd</a>
				<a href="#char-aisha">Aisha</a>
				<a href="#char-qays">Qays</a>
				<a href="#char-leyla">Leyla</a>
				<a href="#char-thabit">Thabit</a>
			</div>

			<div class="all-tabs-wrapper">

				<!-- Sarah -->
				<div id="char-sarah" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(sarah)">
						<h3 class="char-name">Sarah</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<!-- <a href="#" data-youtube-video-id="v4BwafaEBV4"> -->
							<a href="#">
								<img src="@Url.Content(sarah_header)">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Sarah</h3>
							<p>
								Sarah loves to ask how she can help. In fact, she hopes to open a homeless shelter in every city when she's older! Sarah has a keen interest in sewing and has even made a dress for herself. Her most treasured moment from the Seerah was the story of King Najashi embracing Islam after listening to Surah Maryam.
							</p>
						</div>
						<div class="charater-other">
							<p>
								&ldquo;When you need help, just ask Allah!&rdquo;
							</p>
						</div>
					</div>
				</div>

				<!-- zayd -->
				<div id="char-zayd" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(zayd)">
						<h3 class="char-name">Zayd</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#">
								<img src="@Url.Content(zayd_header)">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Zayd</h3>
							<p>
								Zayd has a 'can do' attitude to life and loves to just get on with it. His aim to build a tree house for his family in their garden. Zayd likes to venture, explore and try new things out all the time, and that probably explains why his favourite moment from the Seerah is the story of the Hijrah journey from Makkah to Madinah.
							</p>
						</div>
						<div class="charater-other">
							<p>
								&ldquo;I'm Musim; working hard is what I do!&rdquo;
							</p>
						</div>
					</div>
				</div>
				
				<!-- Aisha -->
				<div id="char-aisha" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(aisha)">
						<h3 class="char-name">Aisha</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#">
								<img src="@Url.Content(aisha_header)">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Aisha</h3>
							<p>
								Aisha has a great habit of always being thankful to Allah, no matter what the situation. She loves to bake and plans to invent her own world famous cuisine. Aisha loves the story of the Miracle of the Prophet (S) at the Battle of the Trench when the army was fed by a pot of never-ending food.
							</p>
						</div>
						<div class="charater-other">
							<p>
								&ldquo;Just add a little gentleness!&rdquo;
							</p>
						</div>
					</div>
				</div>

				<!-- Qays -->
				<div id="char-qays" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(qays)">
						<h3 class="char-name">Qays</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#">
								<img src="@Url.Content(qays_header)">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Qays</h3>
							<p>
								Qays likes to think things through first, before taking action. He enjoys reading and writing in quiet, serene places and aims to write a book about Allah's deep sea creation while under water! Qays' most memorable moment from the Seerah is the first revelation, when the first words of the Quran were revealed.
							</p>
						</div>
						<div class="charater-other">
							<p>
								&ldquo;If Allah wants it to happen, it WILL happen!&rdquo;
							</p>
						</div>
					</div>
				</div>

				<!-- Leyla -->
				<div id="char-leyla" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(leyla)">
						<h3 class="char-name">Leyla</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#">
								<img src="@Url.Content(leyla_header)">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Leyla</h3>
							<p>
								Layla's outlook on life is always met with a smile. In fact, it really shows her belief that there's beauty in everything Allah has created. Layla loves to draw and she even aims to open her own art gallery once she's made her finishes touches to her collection! Her favourite part of the Seerah was the building of Masjid An-Nabawi.
							</p>
						</div>
						<div class="charater-other">
							<p>
								&ldquo;Now isn't that just beautiful?!&rdquo;
							</p>
						</div>
					</div>
				</div>

				<!-- Thabit -->
				<div id="char-thabit" class="tabs-wrapper">
					<div class="character-img">
						<img src="@Url.Content(thabit)">
						<h3 class="char-name">Thabit</h3>
					</div>
					<div class="character-details">
						<div class="character-video">
							<a href="#">
								<img src="@Url.Content(thabit_header)">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="charater-bio">
							<h3>Meet Thabit</h3>
							<p>
								Thabit loves to aim high. In fact, he wants to be President when he grows up! He loves to travel and his favourite moment from the life of the Prophet Muhammad (S) was the Opening of Makkah, when the Prophet (S) returned victorious to his home city and pardoned its people.
							</p>
						</div>
						<div class="charater-other">
							<p>
								&ldquo;You won't be a higher achiever until you're a true believer!&rdquo;
							</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	//equal height for .charater-other & charater-bio blocks
	$('.character-details').each(function(){
		var $bio = $(this).find('.charater-bio');
		var $other = $(this).find('.charater-other');
		var bio_height = $bio.outerHeight() - 19;
		var other_height = $other.outerHeight() - 19;
		var biggerHeight = 0;

		if(bio_height > other_height) biggerHeight = bio_height;
		else biggerHeight = other_height;

		//console.log(bio_height, other_height, biggerHeight, ' = ', $bio.outerHeight(true), $bio.height(), $bio.innerHeight());

		$bio.add($other).height(biggerHeight);
	});

	//video player
	$('.character-video a').click(function(e){
		e.preventDefault();
		return false;
		$('.mobile-menu-overlay').show();
		var $this = $(this);
		var youtube_v_id = $(this).data('youtube-video-id');
		$('body').append(
			'<div class="char-video-popup">'+
				'<div class="close-popup"><a href="#">Close</a></div>'+
				'<iframe frameborder="0" allowfullscreen width="450" height="350" '+
					'src="http://www.youtube.com/embed/'+youtube_v_id+'"></iframe>'+
			'</div>'
		);
	});
</script>


