@{
    //image folder path
    var imagesfolder = "~/Themes/DefaultClean/Content/images";
}

<span class="social-block-testimonials-icon"></span>
<div class="testimonials-slider">
	<a class="buttons prev" href="#">&lt;</a>
	<div class="viewport">
		<ul class="overview">

			<li class="testimonials-page">
				<!-- 6 blocks of .social-block will go here  -->
				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							One of the best websites out there for kids stuff.  (Shaykh Muhammad AlShareef, Canada)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial1.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Masha-Allah all of the products are amazing. I almost have all of them by now. Mash-Allah you lot have done an amazing job in creating those books. (S Khan, UK)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial2.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Our order arrived today at the speed of lightning - having just ordered it barely 15hrs ago! We were delighted with the superb quality of your resources and it was definitely excellent value for the money we spent. (N. Yusuf, UK)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial3.jpg"/></div>
				</div>
			</li>

			<li class="testimonials-page">
				<!-- 6 blocks of .social-block will go here  -->
				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							One of the best websites out there for kids stuff.  (Shaykh Muhammad AlShareef, Canada)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial1.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Masha-Allah all of the products are amazing. I almost have all of them by now. Mash-Allah you lot have done an amazing job in creating those books. (S Khan, UK)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial2.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Our order arrived today at the speed of lightning - having just ordered it barely 15hrs ago! We were delighted with the superb quality of your resources and it was definitely excellent value for the money we spent. (N. Yusuf, UK)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial3.jpg"/></div>
				</div>
			</li>

			<li class="testimonials-page">
				<!-- 6 blocks of .social-block will go here  -->
				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							One of the best websites out there for kids stuff.  (Shaykh Muhammad AlShareef, Canada)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial1.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Masha-Allah all of the products are amazing. I almost have all of them by now. Mash-Allah you lot have done an amazing job in creating those books. (S Khan, UK)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial2.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Our order arrived today at the speed of lightning - having just ordered it barely 15hrs ago! We were delighted with the superb quality of your resources and it was definitely excellent value for the money we spent. (N. Yusuf, UK)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/testimonial3.jpg"/></div>
				</div>
			</li>

		</ul>
	</div>
	<a class="buttons next" href="#">&gt;</a>
</div>


<script type="text/javascript">
;(function($) {
	$.fn.equalheightcols = function(options) {
		return this.each(function() {
			// Extend the options if any provided
			var o = $.extend({}, $.fn.equalheightcols.defaults, options), $this = $(this);
			//Find the shortest height item
			var shortestHeight = 54;
			//Now loop through the each element and keep removing word by word untill its height reaches to the minimal
			$this.find(o.itemsToEqualize).each(function(){
				//If height is already equal to the minimum than return
				if($(this).height()==shortestHeight) return;
				//Now loop until the heights is equal to the minimum height by removing word by word
				while($(this).height()>shortestHeight)
				{
					$(this).html($.trim($(this).html()).replace(/ \S*$/,''));
				}
				//Now check if the last char of the last word is not a full stop than remove the last word and put three dots with the last word
				if($.trim($(this).html()).slice(-1)!='.' && o.threeDots)
				{
					//Remove one more word and append three dots
					$(this).html($.trim($(this).html()).replace(/ \S*$/,'')+'...');
				}
			});
		});
	};//End of Plugin
	
	// Public: plugin defaults options
	$.fn.equalheightcols.defaults = {
		itemsToEqualize : 'p',
		threeDots : true //If the last word is not fullstop than put three dots at the end
	};
})(jQuery);

$('.testimonials-slider').equalheightcols();

</script>