@{
    //image folder path
    var imagesfolder = "~/Themes/DefaultClean/Content/images";
}

<span class="social-block-testimonials-icon"></span>
<div class="testimonials-slider">
	<a class="buttons prev" href="#">&lt;</a>
	<div class="viewport">
		<ul class="overview">

			<li class="testimonials-page">
				<!-- 6 blocks of .social-block will go here  -->
				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							My students absolutely love it they wait for it all the time.
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/1-test.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							It engages young minds and puts the love of Allah in their hearts.
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/2-test.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							The imaginative aids are unique in the market & the quality is unsurpassed.
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/3-test.jpg"/></div>
				</div>
			</li>

			<li class="testimonials-page">
				<!-- 6 blocks of .social-block will go here  -->
				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							I just wanted to say how innovative and excellent the resources provided by your organization are mashaAllah.
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/4-test.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Visually appealing & interactive so they encourage children to practise Islam & enjoy it.
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/5-test.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							It gives the Muslim child a lovely learning opportunity.
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/6-test.jpg"/></div>
				</div>
			</li>

			<li class="testimonials-page">
				<!-- 6 blocks of .social-block will go here  -->
				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							I highly, highly recommend you invest in your children - check out Learning Roots. (Shaykh Yahya Ibrahim)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/7-test.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							Just look at what made available now! (Wisam Sharieff)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/8-test.jpg"/></div>
				</div>

				<div class="social-block">
					<div>
						<span class="double-quote">&#8220;</span>
						<p>
							One of the best websites out there for kids stuff. (Shaykh Muhammad Alshareef)
						</p>
						<span class="double-quote double-quote-end">&#8221;</span>
					</div>
				</div>

				<div class="social-block">
					<div><img src="@Url.Content(imagesfolder)/9-test.jpg"/></div>
				</div>
			</li>

		</ul>
	</div>
	<a class="buttons next" href="#">&gt;</a>
</div>


<script type="text/javascript">
;(function($) {
	$.fn.equalheightcols = function(options) {
		return this.each(function() {
			// Extend the options if any provided
			var o = $.extend({}, $.fn.equalheightcols.defaults, options), $this = $(this);
			//Find the shortest height item
			var shortestHeight = 64;
			//Now loop through the each element and keep removing word by word untill its height reaches to the minimal
			$this.find(o.itemsToEqualize).each(function(){
				//If height is already equal to the minimum than return
				if($(this).height()==shortestHeight) return;
				//Now loop until the heights is equal to the minimum height by removing word by word
				while($(this).height()>shortestHeight)
				{
					$(this).html($.trim($(this).html()).replace(/ \S*$/,''));
				}
				//Now check if the last char of the last word is not a full stop than remove the last word and put three dots with the last word
				if($.trim($(this).html()).slice(-1)!='.' && o.threeDots)
				{
					//Remove one more word and append three dots
					$(this).html($.trim($(this).html()).replace(/ \S*$/,'')+'...');
				}
			});
		});
	};//End of Plugin
	
	// Public: plugin defaults options
	$.fn.equalheightcols.defaults = {
		itemsToEqualize : 'p',
		threeDots : true //If the last word is not fullstop than put three dots at the end
	};
})(jQuery);

//$('.testimonials-slider').equalheightcols();

</script>