@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")

        <script type="text/javascript">
            $('.home-page').closest('.wrapper').removeClass('wrapper');
        </script>

        <div class="wrapper">
            @Html.Partial("_top_block_1")
        </div>
        
        <div class="home-page-featured-products home-page-block">
            <div class="wrapper">
                @Html.Action("HomepageProducts", "Product")
            </div>
        </div>

        @Html.Partial("_meet_chars")

        @Html.Widget("home_page_bottom")
    </div>
</div>