@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@if(Request.Browser.IsMobileDevice) {
    Html.AppendCssFileParts("~/Themes/DefaultClean/Content/owl.css");
    Html.AppendScriptParts("~/Themes/DefaultClean/Content/js/owl.js");
}
<div class="page home-page">
    <div class="page-body">
        
        @Html.Widget("home_page_top")
        
        <script type="text/javascript">
            $('.home-page').closest('.wrapper').removeClass('wrapper');
        </script>

        <div class="wrapper">
            @Html.Partial("_discover_block")
        </div>
        
        <div class="home-page-featured-products home-page-block">
            <div class="wrapper">
                @Html.Action("HomepageProducts", "Product")
            </div>
            <script type="text/javascript">
                //$('.home-page-product-grid').find('.item-box:eq(1)').replaceWith('<div class="item-box"> <div class="product-item" data-productid="88"> <div class="picture"> <a href="/companion-collection-2" title="Show details for Companion Collection"> <img alt="Picture of Companion Collection" src="https://www.learningroots.com/content/images/thumbs/0000313_companion-collection_125.jpeg" title="Show details for Companion Collection"> </a> </div> <div class="details"> <h2 class="product-title"> <a href="/companion-collection-2">Companion Collection This is some very long long title just for testing. Even longer</a> </h2> <div class="product-rating-box" title="0 review(s)"> <div class="rating"> <div style="width: 0%"> </div> </div> </div> <div class="description"> Over 1400 years ago, an entire generation was transformed by a message delivered to them by the greatest guide to ever set foot on Earth. This product was inspired by their story. </div> <div class="add-info"> <div class="prices"> <span class="price old-price">£39.99</span> <span class="price actual-price">£29.99</span> </div> <div class="buttons"> <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button"> </div> </div> </div> </div> </div>');
                var _item_box_tallest = 0;
                var $_item_box_list = $('.home-page-product-grid').find('.product-item').each(function(){
                    if($(this).innerHeight()> _item_box_tallest) _item_box_tallest = $(this).innerHeight();
                });
                $_item_box_list.height(_item_box_tallest);
                if($(window).width() < 768) {
                    $('.home-page-product-grid .item-box').wrapAll('<div class="owl-carousel"></div>');
                    $('.home-page-product-grid .owl-carousel').owlCarousel({
                        singleItem: false,
                        items: 1,
                        navigation: false,
                        rewindNav: true,
                        lazyLoad: true
                    });
                }
            </script>
        </div>

        @*
        @if(!Request.Browser.IsMobileDevice) {
            @Html.Partial("_meet_chars")
        }
        *@

        <div class="home-page-join-the-club home-page-block">
            <div class="wrapper">
                @Html.Partial("_join_the_club")
            </div>
        </div>
        
        @if(!Request.Browser.IsMobileDevice) {
            @Html.Partial("_social_block")
            @Html.Partial("_home_tabs_js")
        }
        @Html.Widget("home_page_bottom")
    </div>
</div>